.profile {
  margin-top: 3.5rem;
  display: flex;
  align-items: flex-start;
}
.profile .profile-content {
  width: 72%;
  margin: 0 0 0 1.5rem;
}
.profile .profile-content .profile-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
}
.profile .profile-content .profile-body {
  margin-top: 0;
  margin-bottom: 2rem;
}
.profile .profile-content .profile-link {
  margin-top: 0;
  margin-bottom: 0.75rem;
}
.profile .profile-image {
  width: 28%;
}
.profile .profile-image img {
  width: 80%;
  max-width: 220px;
}
@media (max-width: 480px) {
  .profile {
    flex-wrap: wrap;
  }
  .profile .profile-content {
    width: 100%;
    margin-top: 0.75rem;
    margin-left: 0;
  }
  .profile .profile-image {
    width: 100%;
  }
  .profile .profile-image img {
    width: 100%;
    max-width: none;
  }
}
